style.name:                          PiranhaII
style.author:                        CharlesV and Melber
style.date:                          Jan 2025
style.comments:                      

background: flat
background.color: #cecece

! Dock settings...
slit: flat
slit.color:  #cecece
slit.colorTo: #db0085
slit.borderWidth: 2
slit.borderColor: #398ee7

! Toolbar settings...
toolbar.button:                      Flat Solid
toolbar.button.color:                #cecece
toolbar.button.picColor:             #212121

toolbar.button.pressed:              Flat Solid
toolbar.button.pressed.color:        #212121

toolbar.label:                       Flat Solid
toolbar.label.color:                 #cecece
toolbar.label.textColor:             #212121

toolbar.windowLabel:                 Flat Solid
toolbar.windowLabel.color:           #cecece
toolbar.windowLabel.textColor:       #212121

toolbar.clock:                       Flat Solid
toolbar.clock.color:                 #cecece
toolbar.clock.textColor:             #212121

toolbar:                             Flat Solid
toolbar.color:                       #212121
toolbar.textColor:                   #cecece
toolbar.font:                        sans-10
toolbar.justify:                     Left


! Menu settings...
menu.frame:                          Flat Solid
menu.frame.color:                    #FCFCFC
menu.frame.textColor:                #212121
menu.frame.disableColor:             #398ee7
menu.frame.font:                     Liberations Sans-11 
menu.frame.justify:                  Left

menu.title:                          Flat Solid
menu.title.pixmap:                   menu-title.xpm
menu.title.color:                    #cecece
menu.title.textColor:                #ffffff
menu.title.font:                     Liberations Sans-11:bold
menu.title.justify:                  Left
menu.titleHeight:                    28

menu.hilite:                         Flat Solid
menu.hilite.pixmap:                   label-inactive.xpm
#menu.hilite.color:                   #47B1DB
menu.hilite.textColor:               #ffffff

menu.bullet:                         triangle
menu.bullet.position:                right

menu.roundCorners:                  TopRight TopLeft BottomLeft BottomRight

#menu.submenu.pixmap:                 bullet

#menu.hilite.submenu.pixmap:         bullet
#menu.selected.pixmap:               bullet


! Window settings...

window.label.focus:                  Flat Solid
#window.label.focus.color:            #cecece
window.label.focus.textColor:        #ffffff
#window.label.focus.justify:          center

window.label.unfocus:                Flat Solid
#window.label.unfocus.color:          #cecece
window.label.unfocus.textColor:      #CACDD0

window.font:                         Liberations Sans-11:bold
window.justify:                      center

window.title.height:                 28
#window.title.focus:                  Flat Solid
#window.title.focus.color:            #cecece
#window.title.unfocus:                Flat Solid
#window.title.unfocus.color:          #000000

#window.button.pressed:               Flat Solid
#window.button.pressed.color:         #000000

#window.frame.focusColor:             #cecece
#window.frame.unfocusColor:           #000000

window.grip.focus:                   Flat Solid
window.grip.focus.color:             #398ee7
window.grip.unfocus:                 Flat Solid
window.grip.unfocus.color:           #cecece

window.handle.focus:                 Flat Solid
window.handle.focus.color:           #212121
window.handle.unfocus:               Flat Solid
window.handle.unfocus.color:         #cecece

window.roundCorners:                 TopRight TopLeft BottomLeft BottomRight

window.label.focus.pixmap:           label-active.xpm
window.label.unfocus.pixmap:         label-inactive.xpm

window.close.pixmap:                 close-active.xpm
window.close.unfocus.pixmap:         close-inactive.xpm
window.close.pressed.pixmap:         close-pressed.xpm

window.maximize.pixmap:              maximize-active.xpm
window.maximize.unfocus.pixmap:      maximize-inactive.xpm
window.maximize.pressed.pixmap:      maximize-pressed.xpm

window.iconify.pixmap:               hide-active.xpm
window.iconify.unfocus.pixmap:       hide-inactive.xpm
window.iconify.pressed.pixmap:       hide-pressed.xpm

window.stick.pixmap:                 stick-active.xpm
window.stick.unfocus.pixmap:         stick-inactive.xpm
window.stick.pressed.pixmap:         stick-pressed.xpm

window.stuck.pixmap:                 stick-toggled-active.xpm
window.stuck.unfocus.pixmap:         stick-toggled-inactive.xpm
window.stuck.pressed.pixmap:         stick-toggled-pressed.xpm

window.shade.pixmap:                 shade-active.xpm
window.shade.unfocus.pixmap:         shade-inactive.xpm
window.shade.pressed.pixmap:         shade-pressed.xpm

window.unshade.pixmap:               menu-active.xpm
window.unshade.unfocus.pixmap:       menu-inactive.xpm
window.unshade.pressed.pixmap:       menu-pressed.xpm


! ----------- tab - explicit for fluxbox, the best wm out there[tm] (;
window.tab.justify:                  left

! ---------------

handleWidth:                         5
frameWidth:                          2
bevelWidth:                          0
borderWidth:                         1
borderColor:                         #212121
